body {
  font-family: Lato,Helvetica,Helvetica Neue,Arial,sans-serif;
  --color-background: #f6faf8;
  --color-header: #FFAA00;
  --color-rebble-orange: #ff4700;
  /* --color-header: #f88f1d; */
  --color-background-dark: #9e6900;
  --color-foreground: #FFFFFF;
  --color-foreground-dark: #373a3c;
  --percentage-complete: 25%;
  background-color: var(--color-background);
  font-size: 1.5rem;
  font-weight: 400;
}

body.clear {
  background-color: #F9F9F9;
}
.body.clear > .navbar {
  background-color: var(--color-background);
}
.percbar {
  border-bottom: 5px solid var(--color-background-dark);
  width: var(--percentage-complete)

}

.lite {
  font-weight: 300;
}
.default-color {
  background-color: var(--color-background) !important;
}
.navbar {
  box-shadow: none;
  font-size: 20px;
  background-color: var(--color-header) !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: var(--color-foreground-dark) !important;
}
.nav-item.steps {
  margin-top: 5px;
}
header {
  margin-bottom: 20px;
}
.navbar-brand {
  font-size: 42px;
  font-weight: 300;
  color: var(--color-foreground-dark) !important;
}
.container {
  width: 80%;
  padding-left: 0px;
}

.option-section {
  text-align: center;
  font-size: 2rem;
}
.option-section .col-sm {
    margin-bottom: 40px;
}
.option-section .col-sm:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}
.question {
  font-size: 3rem;
}
.title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.subtitle {
  margin-top: 30px;
}

.linklist li {
  list-style-type: none;
  font-size: 2rem;
  margin-bottom: 25px;
}
.linklist {
  padding-left: 0;
  background-color: var(--color-background);
}
.linklist a {
  color: inherit;
}
.linklist a:hover {
  border-bottom: 5px solid black;
}
.dark {
  color: var(--color-background-dark);
}

.search {
  border-radius: 0px;
  border: 5px solid black;
  padding: 10px;
  font-size: 2rem;
  width: inherit;
  max-width: 100%;
}

.icon-huge {
  font-size: 10rem;
}
.wide {
  width: 100%;
}

a.link {
  color: inherit;
  text-decoration: underline;
}
a.nodec {
  color: inherit !important;
  text-decoration: none !important;
  display: inline !important;
}

button {
  border-radius: 0px;
  border: 5px solid black;
  padding: 10px;
  font-size: 1rem;
  max-width: 100%;
}
input.previousstep {
  font-size: 1rem;
}

qr img {
  /* border: 3px solid black; */
}
qr img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.highlight {
  background-color: var(--color-header);
}
.highlight-text {
  color: var(--color-rebble-orange);
}

.helpcontent h1 {
  margin-bottom: 60px;
}
img {
  max-height: 400px;
  max-width: 90%;
  /* width: 200px; */
  /* margin-left: calc(50% - 100px); */
  
}
.post img {
  border: 6px solid black;
}
qr img {
  border: none !important;
  margin-left: 30px;
}
/* Hide notmobile stuff on mobile */
@media screen and (max-width: 600px) {
  notmobile {
    visibility: hidden;
    clear: both;
    display: none;
  }
  li {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.2rem;
  }
  .question {
    font-size: 1.3rem;
  }
  .icon-huge {
    font-size: 5rem;
  }
}

.hidden {
  display: none !important;
}

img[alt=icon] { 
  width: 50px !important; 
  border: none !important;
}
img[alt=noborder] { 
  border: none !important;
}

strong {
  font-weight: bolder;
}

footer {
  display: flex;
  flex-flow: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
  margin: -1rem 0 0;
  padding-top: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.footer-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
div.email-signup {
  text-align: center;
  margin: 1rem 0 .5rem;
}
div.email-signup input[type="email"] {
  margin: 0;
  padding: 0.6rem;
  line-height: normal;
  font-size: 0.8em;
  border-radius: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  border: 1px solid #777;
      border-right-color: rgb(119, 119, 119);
      border-right-style: solid;
      border-right-width: 1px;
  border-right: none;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
div.email-signup input[type="submit"] {
    margin: 0;
    padding: 0.6rem;
    line-height: normal;
    font-size: 0.8em;
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    background: #D40 !important;
    cursor: pointer;
    color: #fff;
    border: 1px solid #910;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    -webkit-appearance: none;

}