---
layout: default
---

<article class="post">
    <div class="text-content">
        <div class="container mt-5 animated fadeIn" id="helpcontent">
        
        {% if page.osSpecific == true and page.os == "choose" %}

        <div class="row">
            <div class="question">
              Select your operating system
            </div>
          </div>
      
          <br><br>
      
          <div class="row option-section">
            <div class="col-sm animated fadeIn">
      
                <a class="nodec" href="{{site.baseurl}}{{page.dir}}{{ page.id }}-ios">
                    <i class="fab fa-apple icon-huge"></i><br>
                    iOS
                </a>
      
            </div>
            <div class="col-sm animated fadeIn">
                <a class="nodec" href="{{site.baseurl}}{{page.dir}}{{ page.id }}-android">
                    <i class="fab fa-android icon-huge"></i><br>
                    Android
                </a>
            </div>
          </div>
      
        <br><br>
      
        <a href="../"><span class="dark"> Back </span></a>
      

        {% else %}

            {{ content }}

        {% endif %}
        <div id="contentEnd"></div>
        </div>
        <div class="container mt-5 hidden" id="navButtons">

            <button class="mt-5 previousstep" onclick="prevStep()" id="btn_prev"> <i class="fas fa-backward"></i> Previous Step </button>
            <button class="mt-5 previousstep highlight" onclick="nextStep()" id="btn_next"> Next Step <i class="fas fa-forward"></i> </button>

        </div>
        <br><br><br>
    </div>
</article>


<script src="{{ site.baseurl }}/res/mdb/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/res/mdb/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/res/mdb/js/mdb.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/res/js/qrcode.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/res/js/helpPost.js"></script>

